<%# Insert inline background image on section from @image %>

<section class="py-5 text-center" style="background-image: url('<%= @image %>');background-size: cover;background-position: center;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light bg-light py-2">Welcome to the best movie website</h1>
      </div>
    </div>
  </section>

<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light bg-light py-2">Movie Lists</h1>
        <%# Button to create a new list %>
        <%= link_to 'Create a new list', new_list_path, class: 'btn btn-primary' %>
        <p class="lead text-muted">Here are some of the best movies you can watch.</p>
        <div class="row">
          <% @lists.each do |list| %>
            <%# Display each list in a card with list link%>
            <%= link_to list_path(list) do %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= list.name%>
              </div>
            </div>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
